{% extends 'Recievers/recievers.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
            <div class="page-title">
              <div class="title_left">
                <h3>Form Upload </h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Dropzone multiple file uploader</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                          <a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
<!-- page content -->
                <div class="x_content">
                          <div class="card my-4 p-3 mb-2 bg-light text-dark">
                <div class="card-header p-3 mb-2 bg-light text-dark">
                  <strong>Download Verification</strong>
                    <br>
                    <br>
                </div>
                        <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class=" form-control-label">Name</label>
                            <input    class="form-control" readonly value="{{Receiver.Name}}">

                        </div>
                         <div class="form-group">
                            <label class=" form-control-label">Email</label>
                             <input  required  class="form-control" readonly value="{{Receiver.Email}}">

                        </div>
                         <div class="form-group">
                            <label class=" form-control-label">Address</label>
                             <input  required  class="form-control" readonly value="{{Receiver.Address}}">
                        </div>
                        <div class="form-group">
                            <label  class=" form-control-label">Contact_No</label>
                         <input  required  class="form-control" readonly value="{{Receiver.Contact_No}}">

                        </div>
                        <div class="card text-center" >
                        <div class="card-footer text-muted ">
                            <button type="submit"  class="btn btn-outline-primary btn-sm">Submit</button>
                        </div>
                        </div>
                        </form>
                </div>
                    </div>
<!-- /page content -->
                </div>
              </div>
            </div>

{% endblock %}