{% extends 'Recievers/recievers.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
            <div class="page-title">
              <div class="title_left">
                <h3>Form Upload </h3>
              </div>
{% for i in profile_view_recievers %}
              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Dropzone multiple file uploader</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
  <!-- page content -->

                    <div class="col-md-4 col-sm-4 col-xs-6 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <div class="left col-xs-7">
                              <h2>{{i.Name}}</h2>
                              <ul class="list-unstyled">
                                <li><i class="fa fa-building"></i> Email : {{i.Email}}</li>
                                <li><i class="fa fa-building"></i> Address : {{i.Address}}</li>
                                <li><i class="fa fa-phone"></i> Phone : {{i.Contact_No}}</li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <img src="{% static 'authority/assets/images/img.jpg' %}" alt="" class="img-circle img-responsive">
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-center">
                            <div class="col-xs-12 col-sm-6 emphasis">
                              <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-user"> </i> UPDATE
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
<!-- /page content -->
                    <br />
                    <br />
                    <br />
                    <br />
                  </div>
                </div>
              </div>
            </div>
{% endfor %}
{% endblock %}